<!--/*
**
* This Sightly component overlays the default AEM 6 component located at
* /libs/granite/sightly/templates/graniteClientLib.html and contains three
* updates.
* 
* 1) The addition of the "loading" expression option. This option accepts
* "async" and "defer" and only affects JavaScript output.
*
* 2) The addition of the "onload" expression option. This option  only affects
* JavaScript output.
*
* 3) Changing the data-sly-use value to use the overlayed Java class. If you
* want to add the Java class to your custom package, you only need to update
* this value.
*
* @author    Nate Yolles <yolles@adobe.com>
* @version   2.0.0
* @since     2015-03-19
*/-->
<template data-sly-template.include="${@ categories='Client Library categories',
                                         mode='optional: JS or CSS, case-insensitve',
                                         loading='optional: JS async or defer',
                                         onload='optional: JS to run for async and defer'}"
    data-sly-use.clientlib="${'apps.clientlib_async.sightly.templates.ClientLibUseObject' @ categories=categories, mode=mode, loading=loading, onload=onload}">
${clientlib.include @ context='unsafe'}
</template>